@use "../partials/typography.scss" as *;

// Font Family
$font-family: "AvenirNext";

// Primary Colors
$bandsite-black: #323232;
$bandsite-silver: #afafaf;
$bandsite-white: #fff;

// Secondary Colors
$bandsite-dark-black: #000;
$bandsite-mercury: #e1e1e1;
$bandsite-alabaster: #fafafa;

// PADDING
$padding-1: 48px;
$padding-2: 36px;
$padding-3: 36px;
$padding-4: 24px;
$padding-5: 16px;

// Font size

// Desktop/Tablet
$h1-desktop: 60px;
$h2-desktop: 36px;
$subheader-desktop: 24px;
$body-1: 14px;
$labels: 12px;
// Mobile
$h1-mobile: 24px;
$h3-mobile: 14px;
$body-mobile: 13px;
$label-text: 10px;

// Line Height
$lineheight-1: 32px;
$lineheight-2: 22px;
$lineheight-3: 20px;
$lineheight-4: 18px;
