@use "../partials/typography.scss" as *;

// Font Family
$font-family: "AvenirNext";

// Primary Colors
$bandsite-black: #323232;
$bandsite-silver: #afafaf;
$bandsite-white: #fff;

// Secondary Colors
$bandsite-dark-black: #000;
$bandsite-mercury: #e1e1e1;
$bandsite-alabaster: #fafafa;

// Font size

// Desktop/Tablet
$h1-desktop: 3.75rem;
$h2-desktop: 2.5rem;
$labels: 0.75rem;

// Mobile
$h1-mobile: 1.5rem;
$h3-mobile: 0.875rem;
$body-mobile: 0.8125rem;
$label-text: 0.625rem;
