@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.hero {
  height: 39vh;
}
@media (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero__desktop {
    width: 78%;
    margin: 0 auto;
  }
}
.hero__background {
  position: relative;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/hero-bio.jpg");
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
}
@media (min-width: 1280px) {
  .hero__background {
    margin: 0 auto;
  }
}
.hero__heading {
  padding: 0 1rem;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 3.75rem;
    padding: 0 2.25rem;
    letter-spacing: 1.25px;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    padding: 0 1rem;
  }
}

.about-us {
  padding: 1.5rem 1rem;
}
@media (min-width: 768px) {
  .about-us {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about-us__desktop {
    width: 78%;
    margin: 0 auto;
  }
}
.about-us__title {
  font-weight: 700;
  padding-bottom: 1rem;
  color: #323232;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .about-us__title {
    font-size: 2.5rem;
    padding: 3rem 0 2.25rem 0;
  }
}
@media (min-width: 768px) {
  .about-us__img-div {
    padding: 0 3.5rem;
  }
}
.about-us__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us__quote {
  padding: 1rem 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
}
@media (min-width: 768px) {
  .about-us__quote {
    padding: 2.25rem 3.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about-us__p {
  font-weight: 700;
  color: #323232;
}
.about-us__cite {
  font-style: normal;
  display: block;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  color: #323232;
}
@media (min-width: 768px) {
  .about-us__cite {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}

.history {
  padding: 0 1rem;
  color: #323232;
}
@media (min-width: 768px) {
  .history {
    padding: 0 5.5rem;
  }
}
@media (min-width: 1280px) {
  .history {
    padding: 0 6.5rem;
  }
}
@media (min-width: 1280px) {
  .history__desktop {
    width: 78%;
    margin: 0 auto;
  }
}
.history__title {
  font-weight: 600;
  font-size: 0.875rem;
  color: #323232;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .history__title {
    font-size: 1.7rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .history__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.history__text {
  padding: 0.5rem 0;
  line-height: 1.3rem;
  font-size: 0.875rem;
  color: #323232;
}
@media (min-width: 768px) {
  .history__text {
    width: 47%;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.gallery {
  padding: 1rem;
  margin-top: 1.5rem;
  color: #323232;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__desktop {
    width: 78%;
    margin: 0 auto;
  }
}
.gallery__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery__title {
    padding: 3rem 0 1.5rem 0.5rem;
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .gallery__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.gallery__div {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .gallery__div {
    flex: 31%;
    padding: 0 1rem;
  }
}
.gallery__img {
  width: 100%;
}/*# sourceMappingURL=bio.css.map */