// HERO SECTION
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

.hero {
  height: 39vh;

  @include tablet {
    height: 50vh;
  }

  &__desktop {
    @include desktop {
      width: 78%;
      margin: 0 auto;
    }
  }

  &__background {
    position: relative;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
      url("../assets/Images/hero-bio.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;

    @include desktop {
      margin: 0 auto;
    }
  }

  &__heading {
    padding: 0 1rem;
    color: $bandsite-white;
    letter-spacing: 0.5px;
    font-size: $h1-mobile;
    font-weight: 700;

    @include tablet {
      font-size: $h1-desktop;
      padding: 0 2.25rem;
      letter-spacing: 1.25px;
    }

    @include desktop {
      padding: 0 1rem;
    }
  }
}

// ABOUT SECTION
.about-us {
  padding: 1.5rem 1rem;

  @include tablet {
    padding: 0 2.25rem;
  }

  &__desktop {
    @include desktop {
      width: 78%;
      margin: 0 auto;
    }
  }

  &__title {
    font-weight: 700;
    padding-bottom: 1rem;
    color: $bandsite-black;
    font-size: $h1-mobile;

    @include tablet {
      font-size: $h2-desktop;
      padding: 3rem 0 2.25rem 0;
    }
  }

  &__img-div {
    @include tablet {
      padding: 0 3.5rem;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__quote {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;

    @include tablet {
      padding: 2.25rem 3.5rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__p {
    font-weight: 700;
    color: $bandsite-black;
  }

  &__cite {
    font-style: normal;
    display: block;
    padding-top: 0.5rem;
    font-size: $h3-mobile;
    color: $bandsite-black;

    @include tablet {
      padding-top: 1rem;
      font-size: 1.2rem;
    }
  }
}

// HISTORY SECTION

.history {
  padding: 0 1rem;
  color: $bandsite-black;

  @include tablet {
    padding: 0 5.5rem;
  }

  @include desktop {
    padding: 0 6.5rem;
  }

  &__desktop {
    @include desktop {
      width: 78%;
      margin: 0 auto;
    }
  }
  &__title {
    font-weight: 600;
    font-size: $h3-mobile;
    color: $bandsite-black;
    padding-bottom: 1rem;

    @include tablet {
      font-size: 1.7rem;
      padding-bottom: 1.5rem;
      font-weight: 700;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__text {
    padding: 0.5rem 0;
    line-height: 1.3rem;
    font-size: $h3-mobile;
    color: $bandsite-black;

    @include tablet {
      width: 47%;
      font-size: $h3-mobile;
      line-height: 1.5rem;
    }
  }
}

// PHOTO GALLERY

.gallery {
  padding: 1rem;
  margin-top: 1.5rem;
  color: $bandsite-black;
  background-color: $bandsite-alabaster;

  @include tablet {
    padding: 0 2.25rem;
  }

  &__desktop {
    @include desktop {
      width: 78%;
      margin: 0 auto;
    }
  }

  &__title {
    // padding-bottom: 1rem;
    font-weight: 700;
    font-size: $h1-mobile;
    color: $bandsite-black;

    @include tablet {
      padding: 3rem 0 1.5rem 0.5rem;
      font-size: $h2-desktop;
    }
  }

  &__section {
    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__div {
    margin: 1rem 0;
    @include tablet {
      flex: 31%;

      padding: 0 1rem;
    }
  }

  &__img {
    width: 100%;
  }
}
