// HERO SECTION
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

.hero {
  height: 39vh;

  @include tablet {
    height: 50vh;
  }

  &__background {
    position: relative;
    background-image: url("../assets/Images/hero-bio.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  &___background::before {
    content: "";
    background: rgba(50, 51, 50, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
  }

  &__heading {
    padding: 19.5vh 1rem;
    color: $bandsite-white;
    letter-spacing: 0.5px;
    font-size: 32px;
    font-weight: 700;

    @include tablet {
      font-size: 60px;
      padding: 25vh 0 25vh 36px;
      padding-left: 36px;
      letter-spacing: 1.25px;
    }
  }
}

// ABOUT SECTION
.about-us {
  padding: 24px 1rem;

  @include tablet {
    padding: 36px;
  }

  &__title {
    font-weight: 600;
    padding-bottom: 1rem;
    color: $bandsite-black;
    font-size: 24px;

    @include tablet {
      font-size: 48px;
      padding-bottom: 1.2rem;
    }
  }

  &__img-div {
    @include tablet {
      padding: 0 24px;
      // overflow: hidden;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__quote {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    color: $bandsite-black;

    @include tablet {
      padding: 24px;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__cite {
    font-style: normal;
    display: block;
    padding-top: 0.5rem;
    line-height: 1.2rem;

    @include tablet {
      padding-top: 1.1rem;
    }
  }
}

// HISTORY SECTION

.history {
  padding: 0 1rem;
  color: $bandsite-black;

  @include tablet {
    padding: 24px 60px;
  }

  &__container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;

    @include tablet {
      font-size: 1.7rem;
      padding-bottom: 1.2rem;
      font-weight: 700;
    }
  }

  &__text {
    padding: 0.5rem 0;
    line-height: 1.3rem;
    font-size: 0.9rem;
    @include tablet {
      width: 47%;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  &__text-bottom {
    padding-bottom: 1.2rem;
  }
}

// PHOTO GALLERY

.gallery {
  padding: 1rem;
  color: $bandsite-black;
  background-color: $bandsite-alabaster;

  @include tablet {
    padding: 36px;
  }

  &__title {
    padding: 0.2rem 0;
    font-weight: 600;

    @include tablet {
      padding: 1rem 0;
      font-size: 40px;
    }
  }

  &__section {
    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__div {
    margin: 0.5rem 0;
    @include tablet {
      width: 33.33%;
      padding: 0.5rem;
      margin: 0;
    }
  }

  &__img {
    width: 100%;
  }
}
