@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
}

// HEADER

.header {
  background: $bandsite-black;
  padding-top: 1rem;

  @include tablet {
    padding: 0;
  }

  &__logo {
    color: $bandsite-white;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: fit-content;
  }

  &__img {
    width: 120px;
  }

  &__nav {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%; //36px
      // height: 5vh;
    }
  }

  &__ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-left: 0;

    @include tablet {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item {
    color: $bandsite-white;
    text-decoration: none;
    display: block;
    padding: 0.7rem 10rem;
    font-size: 0.8rem;
    margin: 0 auto;

    @include tablet {
      padding: 1.5rem 0.3rem;
      font-size: 1rem;
    }

    &--inactive {
      color: $bandsite-silver;
      @include tablet {
        margin: 0 2rem;

        &:hover {
          border-bottom: 2px solid $bandsite-mercury;
          @include tablet {
            border-bottom: 4px solid $bandsite-white;
          }
        }
      }
    }

    &--active {
      border-bottom: 2px solid $bandsite-mercury;
      // width: 50%;
      font-weight: 600;
      color: $bandsite-white;

      @include tablet {
        border-bottom: 4px solid $bandsite-white;
      }
    }
  }
}

// FOOTER

.footer {
  background-color: $bandsite-black;
  color: $bandsite-white;
  padding: 24px 1rem;

  @include tablet {
    padding: 32px;
  }

  &__slogan {
    font-size: $h1-mobile;
    font-weight: 600;

    @include tablet {
      font-size: $h2-desktop;
    }
  }

  &__socials {
    display: flex;
    width: 38%;
    justify-content: space-between;
    padding: 1rem 0;

    @include tablet {
      justify-content: space-around;
      padding-right: 15rem;
      width: 50%;
    }
  }

  &__icon {
    height: 24px;
  }

  // Footer Services

  &__services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 84%;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
  }

  &__title {
    font-weight: 600;
    padding-bottom: 1rem;

    line-height: 22px;
  }

  &__address {
    font-weight: normal;

    line-height: 22px;
  }

  &__email {
    text-decoration: none;
    color: $bandsite-white;
    display: block;
    padding: 1rem 0;

    &--padding {
      padding-bottom: 2rem;

      @include tablet {
        padding: 1rem 0;
      }
    }
  }

  &__copyright {
    padding-top: 0.4rem;
    font-size: $body-mobile;
  }

  &__mobile {
    @include tablet {
      display: none;
    }
  }

  &__tablet {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
  }
}
