@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 125%;
}

body {
  font-family: $font-family;
}

// HEADER

.header {
  background: $bandsite-black;
  padding-top: 0.5rem;

  &__logo {
    color: $bandsite-white;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: fit-content;
  }

  &__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
  }

  &__item {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 auto;

    &--active {
      border-bottom: 1px solid $bandsite-white;
      width: 50%;
    }
  }
}

// FOOTER

.footer {
  background-color: $bandsite-black;
  color: $bandsite-white;
  padding: 24px 1rem;

  &__slogan {
    font-size: $h1-mobile;
    font-weight: 600;
  }

  &__socials {
    display: flex;
    width: 38%;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &__icon {
    height: 24px;
  }

  // Footer Services

  &__services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: $h3-mobile;
  }

  &__address {
    font-weight: normal;
    font-size: $h3-mobile;
  }

  &__email {
    text-decoration: none;
    color: $bandsite-white;
    display: block;
    padding: 1rem 0;
    font-size: $body-mobile;

    &--padding {
      padding-bottom: 2rem;
    }
  }

  &__copyright {
    padding-top: 0.4rem;
    font-size: $body-mobile;
  }
}
