@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "AvenirNext";
}

.header {
  background: #323232;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .header {
    padding: 0;
  }
}
.header__logo {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  display: block;
}
.header__img {
  width: 120px;
}
@media (min-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
}
.header__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
@media (min-width: 768px) {
  .header__ul {
    justify-content: space-between;
    align-items: center;
  }
}
.header__item {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.7rem 12rem;
  font-size: 0.8rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__item {
    padding: 1.5rem 0.3rem;
    font-size: 1rem;
  }
}
.header__item--inactive {
  color: #afafaf;
}
@media (min-width: 768px) {
  .header__item--inactive {
    margin: 0 2rem;
  }
}
.header__item--active {
  border-bottom: 2px solid #fff;
  width: 50%;
  font-weight: 600;
  color: #fff;
}
@media (min-width: 768px) {
  .header__item--active {
    border-bottom: 4px solid #fff;
  }
}

.footer {
  background-color: #323232;
  color: #fff;
  padding: 24px 1rem;
}
.footer__slogan {
  font-size: 24px;
  font-weight: 600;
}
.footer__socials {
  display: flex;
  width: 38%;
  justify-content: space-between;
  padding: 1rem 0;
}
.footer__icon {
  height: 24px;
}
.footer__services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
}
.footer__title {
  font-weight: 600;
  padding-bottom: 1rem;
  line-height: 22px;
}
.footer__address {
  font-weight: normal;
  line-height: 22px;
}
.footer__email {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1rem 0;
}
.footer__email--padding {
  padding-bottom: 2rem;
}
.footer__copyright {
  padding-top: 0.4rem;
  font-size: 13px;
}/*# sourceMappingURL=global.css.map */