@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
}

// HEADER

.header {
  background: $bandsite-black;
  // padding: 0 1rem;

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
  }

  &__logo {
    text-decoration: none;
    margin: 1rem auto;
  }

  &__img {
    width: 120px;
    height: 20px;
    object-fit: cover;
  }

  &__nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__link {
    align-items: center;
    width: 50%;
    text-align: center;
    color: $bandsite-silver;
    text-decoration: none;
    padding-bottom: 1rem;
    font-weight: 600;
    transition: 0.5s ease;

    &:hover {
      border-bottom: 4px solid $bandsite-white;
      color: $bandsite-white;
      cursor: pointer;
    }

    &--active {
      border-bottom: 4px solid $bandsite-white;
      color: $bandsite-white;
    }
  }

  &__link:hover,
  &:active {
    border-bottom: 4px solid $bandsite-white;
    color: $bandsite-white;
    font-weight: 700;
  }
}

.footer {
  background-color: $bandsite-black;
  color: $bandsite-white;
  padding: 32px 1rem;

  &__heading {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 0.5rem 0;
  }

  &__icon {
    width: 100%;
  }

  // FOOTER SERVICES

  &__services {
    padding: 1.5rem 0;
    font-size: 1rem;
  }

  &__title {
    font-weight: 600;
    line-height: 0.5;
  }

  &__text {
    display: block;
    padding: 1rem 0;
  }

  &__address {
    margin: 0.6rem 0;
    line-height: 1.5;
  }

  &__span {
    display: block;
  }

  &__email {
    text-decoration: none;
    color: $bandsite-white;
  }

  &__logo {
    padding: 4rem 0 0.7rem 0;
  }

  &__copyright {
    font-size: 14px;
  }
}
