@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

// HERO SECTION
.shows {
  height: fit-content;

  &__desktop {
    @include desktop {
      width: 78%;
      margin: 0 auto;
    }
  }

  &__background {
    position: relative;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
      url("../assets/Images/hero-shows.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;

    @include tablet {
      height: fit-content;
    }

    @include desktop {
      margin: 0 auto;
      height: 60vh;
    }
  }

  &__subheader {
    color: $bandsite-white;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;

    @include tablet {
      padding: 2rem 2.25rem;
      font-size: 1.5rem;
    }

    @include desktop {
      padding: 1.5rem 1rem 1rem 1rem;
    }
  }

  &__heading {
    padding: 0 1rem;
    color: $bandsite-white;
    letter-spacing: 0.5px;
    font-size: $h1-mobile;
    font-weight: 700;
    width: 65%;
    margin: 0.5rem 0 1.5rem 0;

    @include tablet {
      font-size: $h1-desktop;
      padding: 0 2.25rem;
      letter-spacing: 1.25px;
      width: 85%;
      line-height: 5rem;
    }

    @include desktop {
      padding: 0 0.5rem;
      width: 62%;
    }
  }

  &__video {
    margin: 0 1rem;
    border-radius: 4px;

    @include tablet {
      padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    }

    @include desktop {
      padding-left: 0;
    }
  }

  &__link {
    width: 80%;

    @include tablet {
      width: 100%;
    }
  }
}

.tickets {
  padding: 1rem 0;

  @include tablet {
    padding: 3rem;
  }

  @include desktop {
    width: 78%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  &__header {
    padding: 1rem;

    @include tablet {
      padding: 2rem 0;
    }

    @include desktop {
      padding: 2rem 1.5rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: 1px solid $bandsite-mercury;

    &--active {
      background-color: $bandsite-mercury;
      padding: 1.5rem 1.125rem;
      border-radius: 4px;
    }

    &:hover {
      background-color: $bandsite-alabaster;
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      padding: 1rem;
    }
  }

  &__card {
    padding: 0.7rem 1rem;

    @include tablet {
      padding: 0;
    }

    @include desktop {
      padding: 0.7rem 0.5rem;
    }
  }

  &__subheader {
    font-size: 0.975rem;
    font-weight: 700;
    color: $bandsite-mercury;
    padding-bottom: 0.4rem;

    @include tablet {
      padding-bottom: 1.5rem;
    }

    &--hidden {
      @include tablet {
        display: none;
      }
    }
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 600;

    @include tablet {
      font-size: 1rem;
      text-align: left;
    }

    &:nth-of-type(1) {
      font-weight: 600;
    }
  }

  &__btn {
    margin: 0.7rem 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    background-color: $bandsite-black;
    color: $bandsite-white;
    font-size: 1rem;
    letter-spacing: 0.1rem;

    @include tablet {
      font-size: 1rem;
      margin: 0;
      padding: 0.6rem;
      width: 25%;
      margin-top: auto;
    }
  }
}
